
@{
    ViewBag.Title = "CM3210";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="../../Content/treetable/jquery.treetable.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../../Content/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/common.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/iconfont/iconfont.css" />
    <title>CM3110</title>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="../../Content/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/treetable/jquery.treetable.test.js"></script>
    <script type="text/javascript" src="../../Content/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="../../Content/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="../../Content/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="../../Scripts/vue.js"></script>
    <script type="text/javascript" src="../../Scripts/common.js"></script>
</head>
<body>
    <div class="page-main">
        <div class="x_average">
            <div class="average heBtnMenu">
                @*<span class="l ml-5">
                        <a class="btn btn-secondary size-S radius" onclick="" href="javascript:;">编辑</a>
                    </span>*@
                <span class="r ml-10">
                    <a class="btn btn-success radius size-S" style="line-height:1.6em;" href="javascript:location.replace(location.href);" title="刷新">刷新</a>
                </span>
                <span class="r ml-10">
                    <a class="btn btn-primary size-S radius" onclick="AddStoreHouse('新增库区')" href="javascript:;">新增库区</a>
                </span>
            </div>
        </div>
        <div class="mt-5" id="wrapMain">
            <table class="table table-border table-bordered table-hover table-bg table-sort" id="menulist">
                <thead>
                    <tr class="text-l">
                        <th>
                            库区短名称
                        </th>
                        <th>
                            库区描述
                        </th>
                        <th>
                            库区编号
                        </th>
                        <th>
                            库区管理员
                        </th>
                        <th>
                            库区电话
                        </th>
                        <th class="text-c" width="100px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in menuList" :data-tt-id="item.id" :data-tt-parent-id="item.pId">
                        <td>
                            {{item.CStoreHouse}}
                        </td>
                        <td>
                            {{item.CStoreHouseDesc}}
                        </td>
                        <td>
                            {{item.CStoreHouseNo}}
                        </td>
                        <td>
                            {{item.CStoreHouseUser}}
                        </td>
                        <td>{{item.CStoreHousePhone}}</td>
                        <td class="text-c" width="100px;">
                            <a title="添加子级" href="javascript:;" style="text-decoration:none"><i class="iconfont sui-icon-jia"></i></a>
                            <a title="编辑" href="javascript:;" class="ml-10" style="text-decoration:none"><i class="iconfont sui-icon-bianjishuru"></i></a>
                            <a title="删除" href="javascript:;" class="ml-10" style="text-decoration:none"><i class="iconfont sui-icon-empty"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var $app = new Vue({
            el: '#wrapMain', //作用域
            data: {
                menuList: []
            }
        });
        $(document).ready(function () {
            //渲染页面
            $.getJSON("/CM3210/GetStoreHouse", function (ret) {
                var menu = ret;
                if (menu) {
                    $app.menuList = treeArrSort(ret, "Id", "CPId");
                    setTimeout(function () { $("#menulist").treetable({ expandable: true }); }, 200);
                }
            });
        });
        function AddStoreHouse(title, PId) {
            var url = "../cm3210/cm3211";
            if (PId) {
                url += "?PId=" + PId;
            }
            layer_show(title, url);
        }
        function EditStoreHouse(title, Id) {
            var url = "../cm3210/cm3211";
            if (Id) {
                url += "?Id=" + Id;
            }
            layer_show(title, url);
        }
    </script>
</body>
</html>
