/ZhengSeventeenBS/.vs
/ZhengSeventeenBS/AdminWeb/bin
/ZhengSeventeenBS/AdminWeb/obj
/ZhengSeventeenBS/ConsoleSample
/ZhengSeventeenBS/Service.Library/obj
/ZhengSeventeenBS/Service.Library/bin
/ZhengSeventeenBS/Z17.Core/bin
/ZhengSeventeenBS/Z17.Core/obj
/ZhengSeventeenBS/.vs/ZhengSeventeenBS/v15/Server/sqlite3/storage.ide
/ZhengSeventeenBS/.vs/ZhengSeventeenBS/v15/Server/sqlite3/storage.ide-shm
/ZhengSeventeenBS/.vs/ZhengSeventeenBS/v15/Server/sqlite3/storage.ide-wal
/ZhengSeventeenBS/AdminWeb/obj/Debug/AdminWeb.csproj.FileListAbsolute.txt
/ZhengSeventeenBS/Service.Library/bin/Debug/Z17.Core.dll
/ZhengSeventeenBS/Service.Library/bin/Debug/Z17.Core.pdb
/ZhengSeventeenBS/Service.Library/obj/Debug/Service.Library.csproj.FileListAbsolute.txt
/ZhengSeventeenBS/Service.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZhengSeventeenBS/packages
/ZhengSeventeenBS/Bin/AdminWeb.dll
/ZhengSeventeenBS/Bin/AdminWeb.dll.config
/ZhengSeventeenBS/Bin/AdminWeb.pdb
/ZhengSeventeenBS/Bin/Z17.Core.dll
/ZhengSeventeenBS/Bin/Z17.Core.pdb
