html, body {
    width: 100%;
    background: #F3F3F4;
}

[v-cloak] {
    display: none !important;
}

.x_average {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.y_average {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.average {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.noborder {
    border: 0 !important;
}

.noBordreRadius {
    border-radius: 0 !important;
}

.tableBlock {
    padding: 10px;
    background: #fff;
    padding-bottom: 50px;
}

.page-main {
    padding: 10px;
}

.heBtnMenu {
    width: 100%;
    display: block;
    zoom: 1;
    padding: 5px 10px;
    background: #fff;
    float: left;
    clear: both;
    border-bottom: 2px solid #f3f3f4;
}
.searchMenu {

    overflow:hidden;
}
.pt-2 {
    padding-top: 2.5px;
}
.fontWeight {
    font-weight:700;
}
/**导航tree**/
.ztree li a {
    width: 200px;
    height: 35px;
    padding-top: 0px;
    font-size:13px;
}

    .ztree li a:hover {
        text-decoration: none;
        background-color: #E7E7E7;
    }

    .ztree li a span.button.switch {
        visibility: hidden
    }

.ztree.showIcon li a span.button.switch {
    visibility: visible
}

.ztree li a.curSelectedNode {
    background-color: #D4D4D4;
    border: 0;
    height: 35px;
}

.ztree li span {
    line-height: 35px;
}

    .ztree li span.button {
        margin-top: -7px;
    }

        .ztree li span.button.switch {
            width: 16px;
            height: 16px;
        }

.ztree li a.level0 span {
    font-size: 130%;
    font-weight: bold;
}

.ztree li span.button {
    background-image: url("../../Content/Ztree/css/left_menuForOutLook.png");
}

    .ztree li span.button.noline_open {
        background-position: 0 0;
    }

    .ztree li span.button.noline_close {
        background-position: -18px 0;
    }

    .ztree li span.button.noline_open.level0 {
        background-position: 0 -18px;
    }

    .ztree li span.button.noline_close.level0 {
        background-position: -18px -18px;
    }
    /**导航tree**/
