
@{
    ViewBag.Title = "TS1012";
    Layout = "~/Views/Shared/layout.cshtml";
}
<div class="page-container" id="wrapMain">
    <div class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">类别名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" v-model="module.name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">系统类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select pt-5 pb-5" v-model="module.type">
                    <option value="PC">PC</option>
                    <option value="MOB">MOB</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">模块编号：</label>
            <div class="formControls col-xs-8 col-sm-9 x_average">
                <input type="text" v-model="module.pageEnNo" class="input-text" style=" width:10%" />
                <input type="number" v-model="module.pageNo" placeholder="输入编号" class="input-text ml-15 average" />
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="btnOk()" class="btn btn-primary radius" type="submit"> 提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $app = new Vue({
        el: '#wrapMain', //作用域
        data: {
            module: {
                name: "",
                type: "PC",
                pageEnNo: "",
                pageNo: "",
                enabled: "Y"
            }
        },
        methods: {

        }
    });
    //确认上传
    function btnOk() {
        var module = $app.module;
        if ("" == module.name) {
            layer.msg('请输入用户名', { icon: 2, time: 1500 });
            return;
        };
        if ("" == module.pageEnNo || "" == module.pageNo) {
            layer.msg('请输入模块编号', { icon: 2, time: 1500 });
            return;
        };
        var layerIndex = layer.load(3, { time: 15 * 1000 });
        $.ajax({
            "url": "/TS1012/AddModule",
            "type": "POST",
            "dataType": "json",
            "data": {
                "module": JSON.stringify(module)
            }
        }).done(function (ret) {
            //success body
            layer.close(layerIndex);
            if (1 == ret.code) {
                layer.msg('添加成功', { icon: 1, time: 1500 });
                setTimeout(function () {
                    layer_close();
                }, 1500);
            } else {
                layer.msg('添加失败，请重试！', { icon: 5, time: 1500 });
            }

        }).fail(function (header, status, errorThrown) {
            //fail body
            layer.close(layerIndex);
            layer.msg('添加失败，请重试！', { icon: 5, time: 1500 });
        })
    }
</script>


